@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.3s ease;
}

:root {
  --icon-color: #fd0054;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  background-color: #f3f3f3;
  padding: 0.625rem;
}
button {
  border: 0;
  outline: 0;
  cursor: pointer;
  padding: 8px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  margin: 1rem auto;
  border-radius: 0.5rem;
}

.container {
  max-width: 50rem;
  width: 100%;
  background-color: #222;
  text-align: center;
  padding: 2.5rem 2.8125rem;
  border-radius: 1.125rem;
}

.container header {
  border-bottom: 0.0625rem solid #f3f3f3;
}

.container #face {
  color: var(--icon-color);
  font-size: 2.5rem;
  margin-bottom: 0.625rem;
}

.container .content {
  padding: 0.5rem 0.625rem;
}

.container .content .joke-text {
  color: #f3f3f3;
  overflow: auto;
  max-height: 12.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px 0;
  flex-wrap: wrap;
}
.container .content #generate-button {
  background-color: var(--icon-color);
  color: #fff;
  font-size: 1rem;
}

.container .content .joke-button button:hover {
  color: var(--icon-color);
  background-color: #555;
}
