@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;1,300;1,400&family=Outfit:wght@400;700&family=Overpass:ital@1&family=Pacifico&family=Poppins:wght@100;300;400;500&family=Roboto+Condensed&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: 0;
  outline: 0;
  cursor: pointer;
  border-radius: .25rem;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #34495e;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

body > .container {
  max-width: 37.5rem;
  width: 90%;
  margin: 6.25rem auto 0;
  background-color: #e4f1fe;
  padding: .9375rem 1.25rem;
  border-radius: .625rem;
  box-shadow: 0 0 .75rem rgba(228, 241, 254, 0.5);
}

body > .container > header {
  padding-bottom: .625rem;
  border-bottom: .1875rem solid #34495e;
}
body > .container > header > h1 {
  color: #34495e;
}

body > .container > section > .options > .btn {
  width: 100%;
  text-align: left;
  padding: .9375rem .625rem;
  margin: .625rem auto;
  font-size: 1rem;
  color: #fff;
  background-color: #34495e;
}
body > .container > section > .options > .btn:hover:not([disabled]) {
  background-color: #ddd;
  color: #34495e;
}
body > .container > section > .options > .btn:disabled {
  cursor: no-drop;
}

body > .container > section > button#next-button {
  padding: .625rem;
  color: #fff;
  background-color: #34495e;
  margin: 1.875rem auto 0;
  width: 7.5rem;
  display: none;
  font-size: .9375rem;
}

.correct {
  background-color: rgba(97, 210, 180, 0.7) !important;
}

.wrong {
  background-color: rgba(235, 38, 50, 0.7) !important;
}
