@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;1,300;1,400&family=Outfit:wght@400;700&family=Pacifico&family=Poppins:wght@100;300;400;500&family=Roboto+Condensed&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.3s ease;
}

:root {
  --body-background-color: #000;
  --twitter-blue: rgb(29, 155, 240);
  --white: #fff;
  --border-color: rgb(47, 51, 54);
  --hover-color: rgb(38, 38, 38);
  --tooltip-menu-background-color: #111;
}

body {
  height: 100vh;
  background-color: var(--body-background-color);
  font-family: "Poppins", sans-serif;
  user-select: none;
}

a {
  color: var(--white);
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  width: 100%;
  display: flex;
}
.wrapper {
  margin-left: 5rem;
  height: 100%;
  width: 26%;
  border-right: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.25rem 0;
}

header {
  margin: 1rem 0;
}
header a {
  font-size: 4vmin;
  padding: 10px;
  color: var(--twitter-blue);
  display: flex;
}

.wrapper .sidebar-list {
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.wrapper .sidebar-list li {
  cursor: pointer;
  width: 100%;
  padding: 0.25rem 0.5rem;
  border-radius: 1.5rem;
}
.wrapper .sidebar-list li:last-child a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper .sidebar-list li:hover {
  background-color: var(--hover-color);
}

.wrapper .sidebar-list li a i {
  font-size: 3vmin;
}

.wrapper .sidebar-list li a {
  font-size: 2.7vmin;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.wrapper .sidebar-list #tweet-button {
  text-align: center;
  background-color: var(--twitter-blue);
}

.wrapper .sidebar-list #tweet-button:hover {
  opacity: 0.9;
}

.wrapper .sidebar-list #tweet-button a {
  font-weight: 500;
}
.profile {
  color: var(--white);
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  font-size: 0.875rem;
}
.profile .avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-image: url("./profile.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.profile .more i {
  cursor: pointer;
}

.tooltip-menu {
  opacity: 0;
  visibility: hidden;
  padding: 1rem;
  position: absolute;
  top: 70%;
  left: 6%;
  width: 300px;
  height: 100px;
  background-color: var(--tooltip-menu-background-color);
  border-radius: 20px;
  box-shadow: 0 0 9px var(--white);
}
.tooltip-menu.visible {
  opacity: 1;
  visibility: visible;
}
.tooltip-menu ul li {
  cursor: pointer;
  padding: 8px;
  width: 100%;
  border-radius: 1.5rem;
}

.tooltip-menu ul li:hover {
  background-color: var(--hover-color);
}

@media screen and (max-width: 1280px) {
  .twitter-sidebar {
    overflow: hidden;
    width: 20%;
  }
  i {
    font-size: 4vmin !important;
  }
  .wrapper {
    margin-left: 105px;
  }
  .wrapper header {
    padding: 8px;
  }
  .wrapper ul li span {
    display: none;
  }
  .wrapper li:last-child {
    display: none;
  }
  .wrapper ul li:hover {
    background-color: var(--body-background-color);
  }
  .tooltip-menu {
    top: 58%;
  }
}

@media only screen and (max-width: 60rem) {
  .profile > .avatar, .username {
    display: none;
  }
  .sidebar-list > li:nth-child(9) {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .wrapper, .tooltip-menu {
    display: none;
  }
}
