@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --light: #dbd8e3;
  --circle-after-color: #f70776;
  --container-bg-color: #222;
  --blue: #007cb9;
  --box-shadow-color: #444;
  --white: #fff;
}

body {
  height: calc(100vh - .0625rem);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  font-family: "Poppins", sans-serif;
  transition: 0.7s ease all;
}

.circle {
  position: fixed;
  top: -50vmin;
  left: -50vmin;
  width: 100vmin;
  height: 100vmin;
  border-radius: 50% 50% 50% 50%;
  background-color: var(--blue);
  box-shadow: .125rem .125rem .75rem;
}

.circle::after {
  content: "";
  position: inherit;
  bottom: -50vmin;
  right: -50vmin;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  background-color: var(--circle-after-color);
}

.container {
  z-index: 1000;
  width: 25rem;
  height: 31.25rem;
  padding: 1.875rem;
  background-color: var(--container-bg-color);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 1.125rem;
  box-shadow: .125rem .125rem 1rem var(--box-shadow-color);
}

.container header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container header input {
  border: 0;
  outline: 0;
  padding: .3125rem;
  background: transparent;
  border-bottom: .125rem solid var(--white);
  color: var(--white);
  text-transform: uppercase;
  opacity: 0.7;
}

.container header input:focus {
  opacity: 1;
}

.container header input::placeholder {
  color: var(--white);
}

.container header button {
  border: 0;
  outline: 0;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  font-size: 1.125rem;
  cursor: pointer;
  color: var(--container-bg-color);
  background-color: var(--light);
  border: .0625rem solid transparent;
}

.container header button:hover {
  transition: 0.7s;
  color: var(--light);
  background-color: var(--container-bg-color);
  border-color: var(--white);
}

.container header i {
  background: transparent;
  color: var(--light);
  font-size: 1.875rem;
  transition: 0.5s all ease-in-out;
  cursor: pointer;
  opacity: 0.8;
}

.container header i:hover {
  color: var(--blue);
  opacity: 1;
}

.content {
  padding: .625rem .9375rem;
  width: 100%;
  margin: auto;
  border-radius: .625rem;
  margin-top: 1.25rem;
  height: 21.875rem;
  background-color: var(--white);
}

.content span {
  font-weight: 500;
}

.country-flag {
  text-align: center;
}

.country-text {
  margin-top: 2.5rem;
  text-align: start;
  padding: .625rem;
}

#flag {
  width: 9.375rem;
  border-radius: .625rem;
}

@media (max-width: 43.75rem) {
  .container {
    padding: 1.5625rem;
    width: 15.625rem;
  }
  .container header {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: .375rem;
  }
  .container header .world-icon {
    display: none;
  }
  .container header button {
    width: 1.75rem;
    height: 1.75rem;
    font-size: .875rem !important;
  }
}

@media (max-width: 15.625rem) {
  .container {
    display: none;
  }
}
