@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
}

:root {
  --container-background-color: #e7eaf6;
  --background-color: #a2a8d3;
  --white: #fff;
  --facebookColor: #4267b2;
  --whatsappColor: #25d366;
  --githubColor: #333;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - .0625rem);
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  padding: 1.875rem auto;
  background-color: var(--background-color);
  user-select: none;
  transition: 0.4s ease;
}

.container {
  max-width: 28.125rem;
  width: 100%;
  background-color: var(--container-background-color);
  border-radius: .625rem;
  padding: 1.5625rem;
  box-shadow: 0 .5rem .75rem rgba(100, 100, 100, 0.7);
}

.form > form {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.container .theme-icon i {
  cursor: pointer;
}

input,
button {
  border-radius: 1.25rem;
}

input {
  border: 0;
  outline: 0;
  width: 100%;
  line-height: 1.875rem;
  padding: 0 16px;
}

button {
  border: none;
}

.submit-button {
  margin-left: 1rem;
  cursor: pointer;
  width: 7.5rem;
  height: 2.1875rem;
  background-color: var(--whatsappColor);
  color: var(--white);
}

.submit-button:hover {
  opacity: 0.7;
}

.social-media-part {
  text-align: center;
}

.icon-buttons {
  width: 90%;
  height: 2.1875rem;
  margin: .625rem;
  cursor: pointer;
  color: var(--white);
}

#facebook {
  background-color: var(--facebookColor);
}
#snapchat {
  background-color: var(--whatsappColor);
}
#github {
  background-color: var(--githubColor);
}

.icon-buttons:hover {
  opacity: 0.7;
}

.attribute {
  color: var(--githubColor);
}

.attribute a {
  color: var(--githubColor);
}

.attribute a:hover {
  opacity: 0.7;
}

.error {
  border: .0625rem solid red;
}

.success {
  border: .0625rem solid var(--whatsappColor);
}

@media only screen and (max-width: 31.25rem) {
  body {
    padding: 0 16px;
  }
  .container {
    max-width: 23.75rem;
    padding: .625rem;
  }
}
