@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.4s ease;
}
:root {
  --header-color: #f5f5f5;
  --dark-mode-background-color: #000;
  --white: #fff;
  --hover-color: rgba(230, 230, 230, 0.2);
  --addition-menu-background-color: rgb(38, 38, 38);
  --separator-color: rgba(90, 90, 90, 0.8);
  --toggle-color: rgb(0, 147, 242);
  --light-mode-hover-color: rgba(0, 0, 0, 0.2);
}
a {
  text-decoration: none;
}

li {
  list-style-type: none;
}
body {
  background-color: var(--dark-mode-background-color);
  height: 100vh;
  font-family: "Poppins", sans-serif;
  position: relative;
}

i {
  color: var(--header-color);
  font-size: 1.25rem;
}

.sep-1 {
  width: 100%;
  height: 1px;
  background-color: var(--separator-color);
  margin: .5rem 0;
}
.sep-2 {
  width: 100%;
  height: 3px;
  background-color: var(--separator-color);
  margin: 1rem 0;
}
.visible {
  opacity: 1 !important;
  visibility: visible !important;
}
.app {
  height: 100%;
  width: 18%;
  border-right: 1px solid var(--white);
  padding: 1.25rem 3rem;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}
.header {
  margin-top: 0.75rem;
  margin-bottom: 2.25rem;
}

.header h4 {
  color: var(--header-color);
  font-family: "Pacifico", cursive;
  font-size: 1.5rem;
}

.mobile-icon {
  display: none;
  margin-top: 0.75rem;
  margin-bottom: 2.25rem;
}

.sidebar-list {
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
}
.sidebar-list-item {
  border-radius: 0.25rem;
  padding: 0.25rem 1rem 0.25rem 0;
}
.sidebar-list-item:hover {
  background-color: var(--hover-color);
}
.sidebar-list-item:hover > a > i {
  scale: 1.1;
}
.sidebar-list-item > a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--header-color);
}
.more {
  font-size: 1.5rem;
  color: var(--header-color);
  cursor: pointer;
}
.more-modal-box {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: 1%;
  top: 27%;
  width: 280px;
  height: 410px;
  border-radius: 15px;
  background-color: var(--addition-menu-background-color);
  padding: 1rem;
}
.more-modal-box ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}
.more-modal-box ul li {
  cursor: pointer;
  width: 100%;
  border-radius: 0.25rem;
  padding: 0.25rem;
}
.more-modal-box ul li:hover {
  background-color: var(--hover-color);
}
.more-modal-box ul li a {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--header-color);
  font-size: 0.875rem;
}
.more-modal-box > div:nth-child(3),
.more-modal-box > div:last-child {
  color: var(--header-color);
  cursor: pointer;
  font-size: 0.875rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
}
.more-modal-box > div:nth-child(3):hover,
.more-modal-box > div:last-child:hover {
  background-color: var(--hover-color);
}
.change-theme {
  color: var(--white);
  background-color: var(--addition-menu-background-color);
  width: 250px;
  height: 100px;
  position: absolute;
  left: 1%;
  top: 55%;
  border-radius: 15px;
  font-size: 0.8125rem;
}
.change-theme .box-header,
.box-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.box-header {
  padding: 10px;
}
.box-header > div:first-child{
  display: flex;
  align-items: center;
  gap: .5rem;
}
.box-header i:last-child {
  color: #f00;
}
.box-bottom {
  padding: 0 1rem;
}
.bi-toggle-on {
  color: var(--toggle-color);
}
.change-theme i {
  cursor: pointer;
  font-size: 1rem;
}
@media only screen and (max-width: 67.5rem) {
  .app {
    width: 10%;
  }
  .app-wrapper span {
    display: none;
  }
  i {
    font-size: 1.25rem;
  }
  .header {
    display: none;
  }
  .mobile-icon {
    display: block;
  }
  .sidebar-list-item:hover {
    scale: 1.2;
    background-color: transparent;
  }
}
@media only screen and (max-width: 48rem) {
  .app,
  .more-modal-box {
    display: none;
  }
}
