* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  transition: 0.2s ease;
}

h1 {
  position: absolute;
  top: 30px;
}

.container i {
  font-size: 45px;
  cursor: pointer;
}

.attribute {
  font-size: 20px;
  position: absolute;
  bottom: 30px;
}

.attribute span {
  color: #ff0000;
}

.attribute a {
  color: #333;
}
