@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;1,300;1,400&family=Outfit:wght@400;700&family=Pacifico&family=Poppins:wght@100;300;400;500&family=Roboto+Condensed&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  user-select: none;
  transition: 0.2s ease;
}

:root {
  --body-background-color: #000;
  --twitter-blue: rgb(29, 155, 240);
  --white: #fff;
  --border-color: rgb(47, 51, 54);
  --hover-color: rgb(38, 38, 38);
  --tooltip-menu-background-color: #111;
}

body {
  height: 100vh;
  background-color: var(--body-background-color);
  font-family: "Poppins", sans-serif;
}

a {
  color: var(--white);
}

i {
  margin-right: 10px;
}

.twitter-sidebar {
  height: 100%;
  width: 26%;
  border-right: 1px solid var(--border-color);
}

.wrapper {
  margin-left: 120px;
}

.wrapper header {
  padding: 10px;
}

.wrapper header a {
  font-size: 4vmin;
  padding: 10px;
  color: var(--twitter-blue);
}

.wrapper ul {
  margin-right: 15px;
}

.wrapper ul li {
  cursor: pointer;
  padding: 10px;
  margin: 2px;
  border-radius: 1.5rem;
}

.wrapper ul li:hover {
  background-color: var(--hover-color);
}

.wrapper ul li a i {
  font-size: 3vmin;
}

.wrapper ul li a {
  font-size: 2.7vmin;
}

.wrapper ul #tweet-button {
  text-align: center;
  background-color: var(--twitter-blue);
}

.wrapper ul #tweet-button:hover {
  opacity: 0.9;
}

.wrapper ul #tweet-button a {
  font-weight: 500;
}

.wrapper footer {
  position: absolute;
  bottom: 2.5%;
}

.wrapper footer .footer-wrapper {
  display: grid;
  grid-template-columns: auto auto auto;
}

.wrapper footer .footer-wrapper .username {
  text-align: start;
}

.wrapper footer .footer-wrapper .pp i {
  font-size: 4vmin;
}

.wrapper footer .footer-wrapper .more i {
  cursor: pointer;
}

.tooltip-menu {
  opacity: 0;
  visibility: hidden;
  padding: 10px;
  position: absolute;
  top: 70%;
  left: 6%;
  width: 300px;
  height: 100px;
  background-color: var(--tooltip-menu-background-color);
  border-radius: 20px;
  box-shadow: 0 0 9px var(--white);
}

.tooltip-menu ul li {
  cursor: pointer;
  padding: 8px;
  width: 100%;
  border-radius: 1.5rem;
}

.tooltip-menu ul li:hover {
  background-color: var(--hover-color);
}

/*
!Responsive Codes
*/

@media screen and (max-width: 1280px) {
  .twitter-sidebar {
    overflow: hidden;
    width: 20%;
  }
  i {
    font-size: 4vmin !important;
  }
  .wrapper {
    margin-left: 105px;
  }
  .wrapper header {
    padding: 8px;
  }
  .wrapper ul li span {
    display: none;
  }
  .wrapper li:last-child {
    display: none;
  }
  .wrapper ul li:hover {
    background-color: var(--body-background-color);
  }
  .tooltip-menu {
    top: 58%;
  }
  .wrapper .footer-wrapper .username,
  .more {
    display: none;
  }
  .wrapper .footer-wrapper {
    margin-left: 10px;
  }
}

@media screen and (max-width: 768px) {
  .twitter-sidebar {
    display: none;
  }
  .tooltip-menu {
    display: none;
  }
}
