* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.2s ease;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 1px);
  font-family: "Outfit", sans-serif;
  background: linear-gradient(
    180.3deg,
    rgb(221, 221, 221) 5.5%,
    rgb(110, 136, 161) 90.2%
  );
  user-select: none;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.container button {
  border: 0;
  outline: 0;
  line-height: 30px;
  padding: 0 3rem;
  cursor: pointer;
  border-radius: 4px;
}

button:hover:not(.counter-value) {
  opacity: 0.7;
}

.container .reset-button {
  background-color: black;
  color: #fff;
}

.container .counter-value {
  cursor: default !important;
}

.container .decrement-button {
  background-color: #dc2f2f;
  color: #fff;
}
.container .increment-button {
  background-color: #2eb872;
  color: #fff;
}

@media only screen and (max-width: 31.875rem) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 16.875rem) {
  .container {
    grid-template-columns: 1fr;
  }
}
