@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;1,300;1,400&family=Outfit:wght@400;700&family=Poppins:wght@100;300;400;500&family=Roboto+Condensed&family=Tilt+Prism&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.3s ease all;
}

body {
  min-height: 100vh;
  background: linear-gradient(#2c2d34 50%, #e94822 50%);
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  padding: .625rem;
  font-family: "Poppins", sans-serif;
}

input {
  border: 0;
  border: 1px solid #aaa;
  outline: 0;
}
input:focus {
  border-color: #fff;
}
button {
  border: 0;
  outline: 0;
  cursor: pointer;
}

.container {
  background-color: #2c2d34;
  border-radius: 1.125rem;
  padding: 3rem 1.875rem;
  max-width: 25rem;
  width: 100%;
  box-shadow: 0 0 .75rem rgba(0, 0, 0, 0.6);
  color: #fff;
}

.container #form-part {
  font-size: 1.125rem;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: .3125rem;
}

.container #form-part input,
button {
  border-radius: .375rem;
  padding: .5rem;
}

.container #form-part input {
  background: transparent;
  color: #fff;
}


.container #form-part button {
  background-color: #e94822;
  color: #fff;
}

.container #form-part button:hover {
  opacity: 0.8;
}

.result .movie-info {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-top: 1.25rem;
}

.result img {
  width: 100%;
}

.result .header {
  text-align: center;
}

.result .rating {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.result .rating i {
  color: gold;
}

.result #exclamation-icon {
  color: #f00;
}

@media (max-width: 37.5rem) {
  img {
    width: 50%;
  }
  .container #form-part {
    display: grid;
    grid-template-columns: 1fr;
  }
  .container .movie-info {
    display: grid;
    grid-template-columns: 1fr;
    gap: .25rem;
  }
}
